.course {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    max-width: 1340px;
    margin: 10px auto 0;
    justify-content: center;
    // background-color: #2e3033 !important;

  
    &__header {
      & h1 {
        font-size: 40px;
        font-weight: bold;
      }
  
      & h2 {
        font-size: 25px;
        font-weight: bold;
      }
    }
  
    &__title {
      margin-top: 5px;
      color: black;
      font-weight: bold;
      text-align: center;
      line-height: 1.5em;
      height: 3em;
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      width: 100%;
    }
  
    &__instructor {
      font-size: 12px;
      color: black;
      margin-top: 5px;
    }
  
    &__rating {
      color: #e59819;
      font-weight: bold;
      margin-top: 5px;

      & span {
        margin-left: 3px;
      }
    }
   
    & > * {
      margin: 20px;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
      }
  

      &__price {
        color: rgb(246, 219, 66);
        font-weight: bold;
      }

      &__cart {
        color: rgb(255, 255, 255);
        font-weight: bold;
        background-color: $color-grey-dark-2;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 1rem;
      }
    }
  }

  .radio {
    text-align: center;
  }

  .pagination {
    margin-top: 50px;
    justify-content: center;
    // text-align: center;
  }

  .container {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  }
  
  .card {
    display: flex;
    height: 280px;
    width: 220px;
    background-color: #557c7f;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: rgb(254, 203, 102);
    font-weight: 300;
    font-weight: bold;
      line-height: 1.5em;
      height: 3em;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgb(149, 149, 149) 65%, rgb(248, 248, 248) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }

  .fa-star{
    background-color: #e59819;
  }