$font-primary: "Lato";

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

// COLORS
$color-grey-light-1: #47574d;
$color-grey-light-2: #aaa;
$color-grey-dark-1: #e6e4e1;
$color-grey-dark-2: #47574d;

$color-primary: #67a680;
$color-primary-dark: #47574d;

// COLOR VARIABLES
$color-secondary-light: #4a765c;
$color-secondary-dark: #70b575;

// SHADOW
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

// BORDER
$border: 1px solid #f4f2f2;
$border-dark: 2px solid #f4f2f2;

html {
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    background-color: #ffffff !important;
}