$font-primary: "Righteous";

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

// COLORS
$color-grey-light-1: #669497;
$color-grey-light-2: #669497;
$color-grey-dark-1: #ffff;
$color-grey-dark-2: #669497;

$color-primary: #ffff;
$color-primary-dark: #669497;

// COLOR VARIABLES
$color-secondary-light: #e39c38;
$color-secondary-dark: #e39c38;

// SHADOW
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

// BORDER
$border: 1px solid #f4f2f2;
$border-dark: 2px solid #f4f2f2;


html {
    box-sizing: border-box;
    // background-color: #2e3033 !important;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    // background-color: #2e3033 !important;
}

h1, h2 {
    font-family: $font-primary !important;
    text-align: center !important;
    font-weight: lighter;
}

.ant-row {
    align-content: center !important;
    justify-content: center;
}

.ant-btn-primary{
    background: #ffff !important;
}

.ant-spin-dot-item {
    background-color: orange !important;
  }
